# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [85]:
# Import your libraries:
import numpy as np
import pandas as pd
import sklearn
from sklearn import datasets
from sklearn.datasets import load_diabetes
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [3]:
sklearn.datasets

In [6]:
diabetes = load_diabetes()

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [7]:
diabetes.keys()

dict_keys(['data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'])

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [8]:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [9]:
# There are 6 attributes in the data. They are 'data', 'target', 'DESCR', 'feature_names', 'data_filename', 'target_filename'
# The ["data"] shows all the data related to Age, sex, Mass body index, blood pressure S1 to S6 whereas the target measures
# the evolution of diabetes over the last year
# There are 442 records

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [10]:
diabetes['data'].shape

(442, 10)

In [11]:
diabetes['target'].shape

(442,)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:

```
y = β0 + β1X1 + β2X2 + ... + βnXn + ϵ
```

...where:

- X1-Xn: data 
- β0: intercept 
- β1-βn: coefficients 
- ϵ: error (cannot explained by model)
- y: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [12]:
from sklearn import linear_model

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [13]:
from sklearn.linear_model import LinearRegression
diabetes_model = LinearRegression()

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [14]:
diabetes_data_train = diabetes['data'][0:-21]
diabetes_data_test = diabetes['data'][-20:-1]
diabetes_target_train = diabetes['target'][0:-21] 
diabetes_target_test = diabetes['target'][-20:-1]

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [15]:
diabetes_model.fit(diabetes_data_train, diabetes_target_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
# Show the coefficient of regression
diabetes_model.coef_

array([-1.81774793e-01, -2.38292415e+02,  5.10802601e+02,  3.27726454e+02,
       -8.09873327e+02,  4.89841345e+02,  1.00217410e+02,  1.81974785e+02,
        7.41715416e+02,  7.66594057e+01])

In [17]:
# Show the intercept of regression
diabetes_model.intercept_

152.718929651221

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [18]:
y_pred = diabetes_model.predict(diabetes_data_test)

#### Print your `diabetes_target_test` and compare with the prediction.

In [19]:
# print target test
diabetes_target_test

array([233.,  91., 111., 152., 120.,  67., 310.,  94., 183.,  66., 173.,
        72.,  49.,  64.,  48., 178., 104., 132., 220.])

In [20]:
# print target train
diabetes_target_train

array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
        69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
        68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
        87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
       259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
       128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
       150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
       200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
        42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
        83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
       104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
       173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
       107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
        60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
       197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
        59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
       237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
       143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
       142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
        77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
        78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
       154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
        71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
       150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
       145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
        94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
        60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
        31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
       114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
       191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
       244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
       263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
        77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
        58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
       140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
       219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
        43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
       140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
        84.,  42., 146.])

In [21]:
# To compare the two I print the r2 score
from sklearn.metrics import r2_score

In [22]:
r2_score(diabetes_target_test,y_pred)

0.5629496421754894

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [23]:
# The r2 score is of 0,56 so it doesn't seem that the training model is very good

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    ```
    H0 : β1 = β2 = ... = β10 = 0
    HA : At least one βj ≠ 0 (for j = 1, 2, ..., 10)
    ```

* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

![statsmodels regression](../images/statsmodels.png)

In [24]:
# Your code here:

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [25]:
# Your answers here:

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [67]:
auto = pd.read_csv("../data/auto-mpg.csv")

Look at the first 5 rows using the `head()` function:

In [68]:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [69]:
# Check the columns type
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

What is the newest model year and the oldest model year?

In [70]:
# Describe the Dataframe
auto.describe()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [71]:
# The minimum for the model_year column is 70 (so 1970 is the oldest model year). The maximum is 82 so 1982.

Check the dataset for missing values and remove all rows containing at least one missing value.

In [72]:
# Check for missing values
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

In [73]:
# Let's drop the null values
auto = auto.dropna()

In [74]:
# Check for missing values
auto.isna().sum()

mpg             0
cylinders       0
displacement    0
horse_power     0
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [75]:
auto["cylinders"].value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

In [76]:
# There are 5 different values for cylinders

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [77]:
# Drop the car column
auto = auto.drop(["car_name"], axis=1)
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year
0,18.0,8,307.0,130.0,3504,12.0,70
1,15.0,8,350.0,165.0,3693,11.5,70
2,18.0,8,318.0,150.0,3436,11.0,70
3,16.0,8,304.0,150.0,3433,12.0,70
4,17.0,8,302.0,140.0,3449,10.5,70

In [78]:
# Separate into predictor and response
y = auto[["mpg"]]
X = auto.iloc[:,1:]

In [79]:
y

      mpg
0    18.0
1    15.0
2    18.0
3    16.0
4    17.0
5    15.0
6    14.0
7    14.0
8    14.0
9    15.0
10   15.0
11   14.0
12   15.0
13   14.0
14   24.0
15   22.0
16   18.0
17   21.0
18   27.0
19   26.0
20   25.0
21   24.0
22   25.0
23   26.0
24   21.0
25   10.0
26   10.0
27   11.0
28    9.0
29   27.0
..    ...
367  28.0
368  27.0
369  34.0
370  31.0
371  29.0
372  27.0
373  24.0
375  36.0
376  37.0
377  31.0
378  38.0
379  36.0
380  36.0
381  36.0
382  34.0
383  38.0
384  32.0
385  38.0
386  25.0
387  38.0
388  26.0
389  22.0
390  32.0
391  36.0
392  27.0
393  27.0
394  44.0
395  32.0
396  28.0
397  31.0

[392 rows x 1 columns]

In [80]:
X.head()

   cylinders  displacement  horse_power  weight  acceleration  model_year
0          8         307.0        130.0    3504          12.0          70
1          8         350.0        165.0    3693          11.5          70
2          8         318.0        150.0    3436          11.0          70
3          8         304.0        150.0    3433          12.0          70
4          8         302.0        140.0    3449          10.5          70

In [81]:
# import library
from sklearn.model_selection import train_test_split

In [82]:
# Do the test train split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [86]:
# Your code here:
auto_model = LinearRegression()

In [87]:
# Fit the model
auto_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](). Its formula is:

![R Squared](../images/r-squared.png)

...where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [88]:
# Define y_predict
y_pred = auto_model.predict(X_train)

In [89]:
from sklearn.metrics import r2_score

In [90]:
# Calculate R2 score
sklearn.metrics.r2_score(y_train, y_pred)

0.8107227953093896

In [91]:
y_pred

array([[20.95609215],
       [26.26333353],
       [22.56255838],
       [12.46318407],
       [34.74115023],
       [14.9315701 ],
       [34.11702802],
       [28.24073246],
       [23.96807779],
       [17.1302593 ],
       [16.80037432],
       [26.61611355],
       [26.30794398],
       [30.98121298],
       [30.87528248],
       [21.56210797],
       [17.9186156 ],
       [20.76278751],
       [ 9.78482968],
       [27.80721377],
       [20.2273002 ],
       [ 9.02193198],
       [16.9392466 ],
       [ 9.44761706],
       [26.94182756],
       [30.89559471],
       [33.62331745],
       [35.48118328],
       [23.83617821],
       [22.99783358],
       [19.92784153],
       [34.86631962],
       [32.73076784],
       [25.58508818],
       [24.44541041],
       [33.03345258],
       [29.73872525],
       [19.65564792],
       [21.8665939 ],
       [25.30949132],
       [21.51340567],
       [30.19618874],
       [21.0390536 ],
       [19.72002199],
       [34.94853571],
       [24.67626203],
       [26.00988361],
       [30.27257564],
       [29.4691753 ],
       [20.16148151],
       [32.43933728],
       [30.59015328],
       [26.98917691],
       [22.01162485],
       [32.09549838],
       [17.87589388],
       [27.13479377],
       [25.93193653],
       [32.43810108],
       [17.64219516],
       [19.01086037],
       [15.98181995],
       [20.09087357],
       [25.34648167],
       [24.58532876],
       [25.92034748],
       [29.96478919],
       [25.62559361],
       [ 9.20572947],
       [23.29294559],
       [27.7657253 ],
       [14.49908127],
       [30.20582209],
       [ 8.14795639],
       [23.59746876],
       [31.2493567 ],
       [25.88569687],
       [32.60824698],
       [13.77599452],
       [33.58530799],
       [32.97037611],
       [ 7.7432387 ],
       [31.9419451 ],
       [25.2611465 ],
       [22.99557085],
       [12.61633341],
       [10.51049095],
       [16.12385643],
       [20.30241552],
       [28.74118728],
       [25.15053937],
       [19.40165941],
       [20.73490148],
       [10.36676887],
       [23.70191046],
       [11.12271593],
       [27.63816028],
       [22.06873735],
       [10.07634431],
       [30.66705003],
       [31.21657192],
       [24.09097234],
       [28.72489039],
       [28.51095805],
       [22.49408157],
       [26.83976111],
       [15.92679584],
       [14.20123353],
       [27.95750331],
       [19.97679704],
       [30.18200609],
       [29.41499673],
       [32.16055844],
       [19.65958382],
       [28.50305842],
       [31.55469115],
       [30.76878275],
       [15.33234634],
       [28.9973807 ],
       [29.93907924],
       [ 9.4467019 ],
       [14.05298804],
       [35.56590245],
       [14.95956989],
       [19.87278513],
       [24.3306738 ],
       [30.80022826],
       [29.73693529],
       [26.00326834],
       [26.74909646],
       [26.83813074],
       [28.84762976],
       [33.11372057],
       [24.06763916],
       [26.11724869],
       [21.02200958],
       [31.30099131],
       [11.87181303],
       [11.16218417],
       [19.14179219],
       [19.192456  ],
       [30.15019165],
       [15.37371561],
       [26.27453129],
       [11.939652  ],
       [15.57533011],
       [31.134121  ],
       [ 9.32834661],
       [17.89838217],
       [32.5290043 ],
       [21.38119052],
       [34.62472169],
       [21.65795196],
       [33.98226496],
       [28.68081462],
       [29.07120865],
       [12.87459018],
       [28.42941262],
       [25.30094776],
       [26.3818854 ],
       [31.45359563],
       [26.12244054],
       [33.91560076],
       [20.69958047],
       [17.83503701],
       [28.69656157],
       [20.50306573],
       [19.66119898],
       [34.82310477],
       [15.3632702 ],
       [19.0787335 ],
       [16.12390665],
       [32.09285672],
       [15.11400677],
       [24.75596961],
       [16.88115561],
       [13.23189025],
       [17.59589973],
       [ 7.22159673],
       [27.88839452],
       [30.92283742],
       [27.55735852],
       [29.52418829],
       [16.25729008],
       [15.11529495],
       [25.74560801],
       [26.65038706],
       [32.48741779],
       [23.09365652],
       [24.69511588],
       [ 6.19663718],
       [27.92083464],
       [16.76660537],
       [22.13284346],
       [27.05597617],
       [15.26410264],
       [22.36916318],
       [32.41598538],
       [21.69068572],
       [20.88992489],
       [29.7751346 ],
       [18.02977989],
       [25.77682415],
       [21.44476086],
       [29.75166131],
       [11.45688699],
       [18.6036082 ],
       [21.77875432],
       [30.00700253],
       [22.24839666],
       [30.71716325],
       [ 9.18476209],
       [32.53510779],
       [15.05162158],
       [21.66500291],
       [18.42012446],
       [22.26378677],
       [31.2978098 ],
       [13.29329661],
       [10.75652557],
       [10.37821625],
       [25.64379278],
       [ 8.79126531],
       [12.49829796],
       [31.32859537],
       [22.9836968 ],
       [12.42518374],
       [11.92755911],
       [24.41005558],
       [29.68165017],
       [32.16903662],
       [25.85086637],
       [31.18309624],
       [30.32444666],
       [22.10473579],
       [17.36631099],
       [22.54237528],
       [27.51391314],
       [23.98490049],
       [30.7333805 ],
       [27.35976377],
       [27.98587424],
       [26.74729941],
       [31.00194299],
       [17.64428263],
       [ 5.0423296 ],
       [28.81825701],
       [20.96403729],
       [32.31600899],
       [22.12233678],
       [10.73801968],
       [28.92697582],
       [13.71669083],
       [25.33071037],
       [25.17017865],
       [22.4875623 ],
       [17.39143644],
       [17.42296861],
       [11.71227728],
       [27.94704227],
       [30.63138908],
       [25.98090177],
       [17.57645235],
       [31.86915701],
       [15.51092516],
       [23.69354341],
       [25.21324134],
       [32.31213816],
       [32.04832133],
       [13.98250653],
       [28.5609695 ],
       [33.2156004 ],
       [31.34489548],
       [32.83545434],
       [27.58455294],
       [25.99977329],
       [21.3053051 ],
       [21.79296484],
       [32.45396707],
       [16.71957977],
       [24.54815038],
       [25.88103471],
       [24.709479  ],
       [33.65612925],
       [30.59534673],
       [25.10608985],
       [22.57759157],
       [26.81481126],
       [18.00443744],
       [31.59922797],
       [23.39667897],
       [32.80970628],
       [34.26696634],
       [24.47274618],
       [33.53065125],
       [28.55795182],
       [25.10723323],
       [19.60053747],
       [22.47333645],
       [21.02255081],
       [33.77811716],
       [13.90910647],
       [26.57716253],
       [30.71593431],
       [23.28826353],
       [30.13541358],
       [21.18490409],
       [14.96652646],
       [13.98158439],
       [22.40654229],
       [26.12161021],
       [31.70319023],
       [ 7.68220595]])

In [92]:
y_train

      mpg
260  18.6
184  25.0
174  18.0
64   15.0
344  39.0
231  15.5
332  29.8
386  25.0
280  21.5
222  17.0
133  16.0
282  22.3
360  30.7
239  30.0
370  31.0
252  19.2
211  16.5
76   18.0
105  13.0
267  27.5
16   18.0
67   11.0
160  17.0
7    14.0
19   26.0
301  34.2
351  34.4
345  35.1
119  20.0
179  22.0
..    ...
348  37.7
237  30.5
254  20.2
21   24.0
315  24.3
162  15.0
278  31.5
193  24.0
295  35.7
347  37.0
259  20.8
310  38.1
151  31.0
132  25.0
153  18.0
364  26.6
100  18.0
378  38.0
88   14.0
333  32.7
216  31.5
122  24.0
397  31.0
20   25.0
190  14.5
72   15.0
107  18.0
272  23.8
352  29.9
103  11.0

[313 rows x 1 columns]

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [93]:
y_test_pred = auto_model.predict(X_test)

In [95]:
# Calculate R2 score
r2_score(y_test, y_test_pred)

0.7942349075428589

#### Explaining the results

The r squared scores of the training data and the test data are pretty close (0.8146 vs 0.7818). This means our model is not overfitted. However, there is still room to improve the model fit. Move on to the next challenge.

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [96]:
# Do the test train split for 90%
X_train09, X_test09, y_train09, y_test09 = train_test_split(X, y, test_size=0.1)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [97]:
auto_model09 = LinearRegression()

In [98]:
# Fit the model
auto_model09.fit(X_train09, y_train09)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

Compute the predicted values and r squared score for our new model and new sample data.

In [99]:
# Predicted values defined
y_pred09 = auto_model.predict(X_train09)

In [100]:
# Calculate R2 score
r2_score(y_train09, y_pred09)

0.8060280088587447

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [101]:
y_test_pred09 = auto_model.predict(X_test09)

In [102]:
# Calculate R2 score
r2_score(y_test09, y_test_pred09)

0.8117364537550731

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE

In [ ]:
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`

In [ ]:
# Your code here:

Fit the model and print the ranking

In [ ]:
# Your code here:

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [ ]:
# Your code here:

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [ ]:
# Your code here:

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.