# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources in the README.md file
- Happy learning!

In [35]:
import numpy as np
import pandas as pd
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

# Challenge 1 - Explore the Scikit-Learn Datasets

Before starting to work on our own datasets, let's first explore the datasets that are included in this Python library. These datasets have been cleaned and formatted for use in ML algorithms.

First, we will load the diabetes dataset. Do this in the cell below by importing the datasets and then loading the dataset  to the `diabetes` variable using the `load_diabetes()` function ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.datasets.load_diabetes.html)).

In [2]:
diabetes = datasets.load_diabetes(return_X_y=False)

Let's explore this variable by looking at the different attributes (keys) of `diabetes`. Note that the `load_diabetes` function does not return dataframes. It returns you a Python dictionary.

In [3]:
diabetes

{'data': array([[ 0.03807591,  0.05068012,  0.06169621, ..., -0.00259226,
          0.01990842, -0.01764613],
        [-0.00188202, -0.04464164, -0.05147406, ..., -0.03949338,
         -0.06832974, -0.09220405],
        [ 0.08529891,  0.05068012,  0.04445121, ..., -0.00259226,
          0.00286377, -0.02593034],
        ...,
        [ 0.04170844,  0.05068012, -0.01590626, ..., -0.01107952,
         -0.04687948,  0.01549073],
        [-0.04547248, -0.04464164,  0.03906215, ...,  0.02655962,
          0.04452837, -0.02593034],
        [-0.04547248, -0.04464164, -0.0730303 , ..., -0.03949338,
         -0.00421986,  0.00306441]]),
 'target': array([151.,  75., 141., 206., 135.,  97., 138.,  63., 110., 310., 101.,
         69., 179., 185., 118., 171., 166., 144.,  97., 168.,  68.,  49.,
         68., 245., 184., 202., 137.,  85., 131., 283., 129.,  59., 341.,
         87.,  65., 102., 265., 276., 252.,  90., 100.,  55.,  61.,  92.,
        259.,  53., 190., 142.,  75., 142., 155., 225.,  59., 104., 182.,
        128.,  52.,  37., 170., 170.,  61., 144.,  52., 128.,  71., 163.,
        150.,  97., 160., 178.,  48., 270., 202., 111.,  85.,  42., 170.,
        200., 252., 113., 143.,  51.,  52., 210.,  65., 141.,  55., 134.,
         42., 111.,  98., 164.,  48.,  96.,  90., 162., 150., 279.,  92.,
         83., 128., 102., 302., 198.,  95.,  53., 134., 144., 232.,  81.,
        104.,  59., 246., 297., 258., 229., 275., 281., 179., 200., 200.,
        173., 180.,  84., 121., 161.,  99., 109., 115., 268., 274., 158.,
        107.,  83., 103., 272.,  85., 280., 336., 281., 118., 317., 235.,
         60., 174., 259., 178., 128.,  96., 126., 288.,  88., 292.,  71.,
        197., 186.,  25.,  84.,  96., 195.,  53., 217., 172., 131., 214.,
         59.,  70., 220., 268., 152.,  47.,  74., 295., 101., 151., 127.,
        237., 225.,  81., 151., 107.,  64., 138., 185., 265., 101., 137.,
        143., 141.,  79., 292., 178.,  91., 116.,  86., 122.,  72., 129.,
        142.,  90., 158.,  39., 196., 222., 277.,  99., 196., 202., 155.,
         77., 191.,  70.,  73.,  49.,  65., 263., 248., 296., 214., 185.,
         78.,  93., 252., 150.,  77., 208.,  77., 108., 160.,  53., 220.,
        154., 259.,  90., 246., 124.,  67.,  72., 257., 262., 275., 177.,
         71.,  47., 187., 125.,  78.,  51., 258., 215., 303., 243.,  91.,
        150., 310., 153., 346.,  63.,  89.,  50.,  39., 103., 308., 116.,
        145.,  74.,  45., 115., 264.,  87., 202., 127., 182., 241.,  66.,
         94., 283.,  64., 102., 200., 265.,  94., 230., 181., 156., 233.,
         60., 219.,  80.,  68., 332., 248.,  84., 200.,  55.,  85.,  89.,
         31., 129.,  83., 275.,  65., 198., 236., 253., 124.,  44., 172.,
        114., 142., 109., 180., 144., 163., 147.,  97., 220., 190., 109.,
        191., 122., 230., 242., 248., 249., 192., 131., 237.,  78., 135.,
        244., 199., 270., 164.,  72.,  96., 306.,  91., 214.,  95., 216.,
        263., 178., 113., 200., 139., 139.,  88., 148.,  88., 243.,  71.,
         77., 109., 272.,  60.,  54., 221.,  90., 311., 281., 182., 321.,
         58., 262., 206., 233., 242., 123., 167.,  63., 197.,  71., 168.,
        140., 217., 121., 235., 245.,  40.,  52., 104., 132.,  88.,  69.,
        219.,  72., 201., 110.,  51., 277.,  63., 118.,  69., 273., 258.,
         43., 198., 242., 232., 175.,  93., 168., 275., 293., 281.,  72.,
        140., 189., 181., 209., 136., 261., 113., 131., 174., 257.,  55.,
         84.,  42., 146., 212., 233.,  91., 111., 152., 120.,  67., 310.,
         94., 183.,  66., 173.,  72.,  49.,  64.,  48., 178., 104., 132.,
        220.,  57.]),
 'DESCR': '.. _diabetes_dataset:\n\nDiabetes dataset\n----------------\n\nTen baseline variables, age, sex, body mass index, average blood\npressure, and six blood serum measurements were obtained for each of n =\n442 diabetes patients, as well as the response of interest, a\nquantitative measure of disease progression one year after baseline.\n\n**Data Set Characteristics:**\n\n  :Number of Instances: 442\n\n  :Number of Attributes: First 10 columns are numeric predictive values\n\n  :Target: Column 11 is a quantitative measure of disease progression one year after baseline\n\n  :Attribute Information:\n      - Age\n      - Sex\n      - Body mass index\n      - Average blood pressure\n      - S1\n      - S2\n      - S3\n      - S4\n      - S5\n      - S6\n\nNote: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).\n\nSource URL:\nhttps://www4.stat.ncsu.edu/~boos/var.select/diabetes.html\n\nFor more information see:\nBradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.\n(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)',
 'feature_names': ['age',
  'sex',
  'bmi',
  'bp',
  's1',
  's2',
  's3',
  's4',
  's5',
  's6'],
 'data_filename': 'c:\\users\\binardo surface\\appdata\\local\\programs\\python\\python38\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_data.csv.gz',
 'target_filename': 'c:\\users\\binardo surface\\appdata\\local\\programs\\python\\python38\\lib\\site-packages\\sklearn\\datasets\\data\\diabetes_target.csv.gz'}

#### The next step is to read the description of the dataset. 

Print the description in the cell below using the `DESCR` attribute of the `diabetes` variable. Read the data description carefully to fully understand what each column represents.

*Hint: If your output is ill-formatted by displaying linebreaks as `\n`, it means you are not using the `print` function.*

In [4]:
print(diabetes.DESCR)

.. _diabetes_dataset:

Diabetes dataset
----------------

Ten baseline variables, age, sex, body mass index, average blood
pressure, and six blood serum measurements were obtained for each of n =
442 diabetes patients, as well as the response of interest, a
quantitative measure of disease progression one year after baseline.

**Data Set Characteristics:**

  :Number of Instances: 442

  :Number of Attributes: First 10 columns are numeric predictive values

  :Target: Column 11 is a quantitative measure of disease progression one year after baseline

  :Attribute Information:
      - Age
      - Sex
      - Body mass index
      - Average blood pressure
      - S1
      - S2
      - S3
      - S4
      - S5
      - S6

Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

Source URL:
https://www4.stat.ncsu.edu/~boos/var.select/diabetes.html

For more information see:
Bradley Efron, Trevor Hastie, Iain Johnstone and Robert Tibshirani (2004) "Least Angle Regression," Annals of Statistics (with discussion), 407-499.
(https://web.stanford.edu/~hastie/Papers/LARS/LeastAngle_2002.pdf)

#### Based on the data description, answer the following questions:

1. How many attributes are there in the data? What do they mean?

1. What is the relation between `diabetes['data']` and `diabetes['target']`?

1. How many records are there in the data?

In [5]:
# diabetes['Attribute Information'] has 10 measurable features - Age - Sex - Body mass index - Average blood pressure - S1 - S2 - S3 - S4 - S5 - S6

In [6]:
# Note: Each of these 10 feature variables have been mean centered and scaled by the standard deviation times `n_samples` (i.e. the sum of squares of each column totals 1).

In [7]:
# diabetes['data'] present, over 10 features, the

In [8]:
# The diabetes['target'] aims at measuring the "disease progression one year after baseline"

#### Now explore what are contained in the *data* portion as well as the *target* portion of `diabetes`. 

Scikit-learn typically takes in 2D numpy arrays as input (though pandas dataframes are also accepted). Inspect the shape of `data` and `target`. Confirm they are consistent with the data description.

In [9]:
diabetes['data'].shape

# it has indeed 10 columns, one for each feature described

(442, 10)

In [10]:
diabetes['target'].shape

# it has indeed 1 column for the target value

(442,)

# Challenge 2 - Perform Supervised Learning on the Dataset

The data have already been split to predictor (*data*) and response (*target*) variables. Given this information, we'll apply what we have previously learned about linear regression and apply the algorithm to the diabetes dataset.

#### Let's briefly revisit the linear regression formula:


$y = \beta_0 + \beta_1·X_1 + \beta_2·X_2 + ... + \beta_n·X_n + \epsilon$


where:

- $X_1-X_n$: data 
- $\beta_0$: intercept 
- $\beta_1-\beta_n$: coefficients 
- $\epsilon$: error (cannot explained by model)
- $y$: target

Also take a look at the `sklearn.linear_model.LinearRegression` [documentation](https://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html).

#### In the cell below, import the `linear_model` class from `sklearn`.

In [11]:
from sklearn import linear_model

#### Create a new instance of the linear regression model and assign the new instance to the variable `diabetes_model`.

In [12]:
diabetes_model = linear_model.LinearRegression()

In [13]:
diabetes_model

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

#### Next, let's split the training and test data.

Define `diabetes_data_train`, `diabetes_target_train`, `diabetes_data_test`, and `diabetes_target_test`. Use the last 20 records for the test data and the rest for the training data.

In [14]:
# Creating a DataFrame with the diabetes['data']

In [15]:
diabetes_data = pd.DataFrame(diabetes['data'])

In [16]:
diabetes_data.columns = ['Age', 'Sex', 'Body mass index', 'Average blood pressure', 'S1', 'S2', 'S3', 'S4', 'S5', 'S6']

In [17]:
diabetes_data

,Age,Sex,Body mass index,Average blood pressure,S1,S2,S3,S4,S5,S6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [18]:
# Creating a DataFrame with the diabetes['target']

In [19]:
diabetes_target = pd.DataFrame(diabetes['target'])

In [20]:
diabetes_target

         0
0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
..     ...
437  178.0
438  104.0
439  132.0
440  220.0
441   57.0

[442 rows x 1 columns]

In [21]:
diabetes_data_train = diabetes_data.iloc[:-20,:]

In [22]:
diabetes_data_train

,Age,Sex,Body mass index,Average blood pressure,S1,S2,S3,S4,S5,S6
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641
...,...,...,...,...,...,...,...,...,...,...
417,-0.052738,-0.044642,0.071397,-0.074528,-0.015328,-0.001314,0.004460,-0.021412,-0.046879,0.003064
418,0.009016,-0.044642,-0.024529,-0.026328,0.098876,0.094196,0.070730,-0.002592,-0.021394,0.007207
419,-0.020045,-0.044642,-0.054707,-0.053871,-0.066239,-0.057367,0.011824,-0.039493,-0.074089,-0.005220
420,0.023546,-0.044642,-0.036385,0.000068,0.001183,0.034698,-0.043401,0.034309,-0.033249,0.061054
421,0.038076,0.050680,0.016428,0.021872,0.039710,0.045032,-0.043401,0.071210,0.049769,0.015491

In [23]:
diabetes_data_test = diabetes_data.iloc[-20:, : ]

In [24]:
diabetes_data_test

,Age,Sex,Body mass index,Average blood pressure,S1,S2,S3,S4,S5,S6
422,-0.078165,0.050680,0.077863,0.052858,0.078236,0.064447,0.026550,-0.002592,0.040672,-0.009362
423,0.009016,0.050680,-0.039618,0.028758,0.038334,0.073529,-0.072854,0.108111,0.015567,-0.046641
424,0.001751,0.050680,0.011039,-0.019442,-0.016704,-0.003819,-0.047082,0.034309,0.024053,0.023775
425,-0.078165,-0.044642,-0.040696,-0.081414,-0.100638,-0.112795,0.022869,-0.076395,-0.020289,-0.050783
426,0.030811,0.050680,-0.034229,0.043677,0.057597,0.068831,-0.032356,0.057557,0.035462,0.085907
427,-0.034575,0.050680,0.005650,-0.005671,-0.073119,-0.062691,-0.006584,-0.039493,-0.045421,0.032059
428,0.048974,0.050680,0.088642,0.087287,0.035582,0.021546,-0.024993,0.034309,0.066048,0.131470
429,-0.041840,-0.044642,-0.033151,-0.022885,0.046589,0.041587,0.056003,-0.024733,-0.025952,-0.038357
430,-0.009147,-0.044642,-0.056863,-0.050428,0.021822,0.045345,-0.028674,0.034309,-0.009919,-0.017646
431,0.070769,0.050680,-0.030996,0.021872,-0.037344,-0.047034,0.033914,-0.039493,-0.014956,-0.001078
432,0.009016,-0.044642,0.055229,-0.005671,0.057597,0.044719,-0.002903,0.023239,0.055684,0.106617
433,-0.027310,-0.044642,-0.060097,-0.029771,0.046589,0.019980,0.122273,-0.039493,-0.051401,-0.009362
434,0.016281,-0.044642,0.001339,0.008101,0.005311,0.010899,0.030232,-0.039493,-0.045421,0.032059
435,-0.012780,-0.044642,-0.023451,-0.040099,-0.016704,0.004636,-0.017629,-0.002592,-0.038459,-0.038357
436,-0.056370,-0.044642,-0.074108,-0.050428,-0.024960,-0.047034,0.092820,-0.076395,-0.061177,-0.046641
437,0.041708,0.050680,0.019662,0.059744,-0.005697,-0.002566,-0.028674,-0.002592,0.031193,0.007207
438,-0.005515,0.050680,-0.015906,-0.067642,0.049341,0.079165,-0.028674,0.034309,-0.018118,0.044485
439,0.041708,0.050680,-0.015906,0.017282,-0.037344,-0.013840,-0.024993,-0.011080,-0.046879,0.015491
440,-0.045472,-0.044642,0.039062,0.001215,0.016318,0.015283,-0.028674,0.026560,0.044528,-0.025930
441,-0.045472,-0.044642,-0.073030,-0.081414,0.083740,0.027809,0.173816,-0.039493,-0.004220,0.003064

In [25]:
diabetes_target_train = diabetes_target.iloc[:-20, :]
diabetes_target_train

         0
0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
..     ...
417   55.0
418   84.0
419   42.0
420  146.0
421  212.0

[422 rows x 1 columns]

In [26]:
diabetes_target_test = diabetes_target.iloc[-20: , :]

In [27]:
diabetes_target_test

         0
422  233.0
423   91.0
424  111.0
425  152.0
426  120.0
427   67.0
428  310.0
429   94.0
430  183.0
431   66.0
432  173.0
433   72.0
434   49.0
435   64.0
436   48.0
437  178.0
438  104.0
439  132.0
440  220.0
441   57.0

Fit the training data and target to `diabetes_model`. Print the *intercept* and *coefficients* of the model.

In [28]:
diabetes_model.fit(diabetes_data_train, diabetes_target_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [29]:
diabetes_model.intercept_

array([152.76430692])

In [30]:
diabetes_model.coef_

array([[ 3.03499549e-01, -2.37639315e+02,  5.10530605e+02,
         3.27736980e+02, -8.14131709e+02,  4.92814588e+02,
         1.02848452e+02,  1.84606489e+02,  7.43519617e+02,
         7.60951722e+01]])

#### Inspecting the results

From the outputs you should have seen:

- The intercept is a float number.
- The coefficients are an array containing 10 float numbers.

This is the linear regression model fitted to your training dataset.

#### Using your fitted linear regression model, predict the *y* of `diabetes_data_test`.

In [31]:
predict_y = diabetes_model.predict(diabetes_data_test)

In [32]:
predict_y

array([[197.61846908],
       [155.43979328],
       [172.88665147],
       [111.53537279],
       [164.80054784],
       [131.06954875],
       [259.12237761],
       [100.47935157],
       [117.0601052 ],
       [124.30503555],
       [218.36632793],
       [ 61.19831284],
       [132.25046751],
       [120.3332925 ],
       [ 52.54458691],
       [194.03798088],
       [102.57139702],
       [123.56604987],
       [211.0346317 ],
       [ 52.60335674]])

#### Print your `diabetes_target_test` and compare with the prediction.

In [33]:
diabetes_target_test

         0
422  233.0
423   91.0
424  111.0
425  152.0
426  120.0
427   67.0
428  310.0
429   94.0
430  183.0
431   66.0
432  173.0
433   72.0
434   49.0
435   64.0
436   48.0
437  178.0
438  104.0
439  132.0
440  220.0
441   57.0

In [36]:
r2_score(diabetes_target_test, predict_y)

0.5850753022690574

#### Is `diabetes_target_test` exactly the same as the model prediction? Explain.

In [37]:
# your answer here

# Bonus Challenge 1 - Hypothesis Testing with `statsmodels`

After generating the linear regression model from the dataset, you probably wonder: then what? What is the statistical way to know if my model is reliable or not?

Good question. We'll discuss that using Scikit-Learn in Challenge 5. But for now, let's use a fool-proof way by using the ([Linear Regression class of StatsModels](https://www.statsmodels.org/dev/regression.html)) which can also conduct linear regression analysis plus much more such as calcuating the F-score of the linear model as well as the standard errors and t-scores for each coefficient. The F-score and t-scores will tell you whether you can trust your linear model.

To understand the statistical meaning of conducting hypothesis testing (e.g. F-test, t-test) for slopes, read [this webpage](https://onlinecourses.science.psu.edu/stat501/node/297/) at your leisure time. We'll give you a brief overview next.

* The F-test of your linear model is to verify whether at least one of your coefficients is significantly different from zero. Translating that into the *null hypothesis* and *alternative hypothesis*, that is:

    $H_0 : \beta_1 = \beta_2 = ... = \beta_{10} = 0$

    $H_a$ : At least one $\beta_j \ne 0$ (for j = 1, 2, ..., 10)
    
    
* The t-tests on each coefficient is to check whether the confidence interval for the variable contains zero. If the confidence interval contains zero, it means the null hypothesis for that variable is not rejected. In other words, this particular vaiable is not contributing to your linear model and you can remove it from your formula.

Read the documentations of [StatsModels Linear Regression](https://www.statsmodels.org/dev/regression.html) as well as its [`OLS` class](https://www.statsmodels.org/dev/generated/statsmodels.regression.linear_model.OLS.html) which stands for *ordinary least squares*.

#### In the next cell, analyze `diabetes_data_train` and `diabetes_target_train` with the linear regression model of `statsmodels`. Print the fit summary.

Your output should look like:

<div style="text-align:center"><img src="../images/statsmodels.png" width=600/></div>

In [38]:
# your code here

#### Interpreting hypothesis testing results

Answer the following questions in the cell below:

1. What is the F-score of your linear model and is the null hypothesis rejected?

1. Does any of the t-tests of the coefficients produce a confidence interval containing zero? What are they?

1. How will you modify your linear reguression model according to the test results above?

In [39]:
# your answer here

# Challenge 3 - Peform Supervised Learning on a Pandas Dataframe

Now that we have dealt with data that has been formatted for scikit-learn, let's look at data that we will need to format ourselves.

In the next cell, load the `auto-mpg.csv` file included in this folder and assign it to a variable called `auto`.

In [40]:
auto = pd.read_csv(r'E:\Ironhack\IronHack_Classes\Week 7\Lab_7\lab-supervised-learning-sklearn\data\auto-mpg.csv')

Look at the first 5 rows using the `head()` function:

In [41]:
auto.head()

,mpg,cylinders,displacement,horse_power,weight,acceleration,model_year,car_name
0,18.0,8,307.0,130.0,3504,12.0,70,"\t""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693,11.5,70,"\t""buick skylark 320"""
2,18.0,8,318.0,150.0,3436,11.0,70,"\t""plymouth satellite"""
3,16.0,8,304.0,150.0,3433,12.0,70,"\t""amc rebel sst"""
4,17.0,8,302.0,140.0,3449,10.5,70,"\t""ford torino"""

Evaluate the data to ensure that all numeric columns are correctly detected as such by pandas. If a column is misclassified as object, coerce it to numeric.

In [42]:
auto.dtypes

mpg             float64
cylinders         int64
displacement    float64
horse_power     float64
weight            int64
acceleration    float64
model_year        int64
car_name         object
dtype: object

In [43]:
auto.isnull().sum()

mpg             0
cylinders       0
displacement    0
horse_power     6
weight          0
acceleration    0
model_year      0
car_name        0
dtype: int64

What is the newest model year and the oldest model year?

In [44]:
auto.model_year.max()

82

In [45]:
auto.model_year.min()

70

Check the dataset for missing values and remove all rows containing at least one missing value.

In [46]:
auto.dropna(inplace=True)

Find the frequency table for the `cylinders` column using the `value_counts()` function. How many possible values of cylinders are there?

In [47]:
auto['cylinders'].value_counts()

4    199
8    103
6     83
3      4
5      3
Name: cylinders, dtype: int64

We would like to generate a linear regression model that will predict mpg. To do this, first drop the `car_name` column since it does not contain any quantitative data. Next separate the dataframe to predictor and response variables. Separate those into test and training data with 80% of the data in the training set and the remainder in the test set. 

Assign the predictor and response training data to `X_train` and `y_train` respectively. Similarly, assign the predictor and response test data to `X_test` and `y_test`.

*Hint: To separate data for training and test, use the `train_test_split` method we used in previous labs.*

In [48]:
auto.drop(columns=['car_name'],inplace=True)

In [49]:
train_test_split

In [50]:
# splitting datasets - creating new dataset without the column
# used as a future target
auto_train = auto.drop(columns=['mpg'])

In [51]:
X_train, X_test, y_train, y_test = train_test_split(auto_train, auto['mpg'], train_size=0.8, test_size=0.2)

Now we will processed and peform linear regression on this data to predict the mpg for each vehicle. 

#### In the next cell, create an instance of the linear regression model and call it `auto_model`. Fit `auto_model` with your training data.

In [52]:
auto_model = linear_model.LinearRegression()

In [53]:
auto_model.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)


# Challenge 4 - Evaluate the Model

In addition to evaluating your model with F-test and t-test, you can also use the *Coefficient of Determination* (a.k.a. *r squared score*). This method does not simply tell *yes* or *no* about the model fit but instead indicates how much variation can be explained by the model. Based on the r squared score, you can decide whether to improve your model in order to obtain a better fit.

You can learn about the r squared score [here](https://en.wikipedia.org/wiki/Coefficient_of_determination). Its formula is:

<div style="text-align:center"><img src="../images/r-squared.png" width=300/></div>

where:

* yi is an actual data point.
* ŷi is the corresponding data point on the estimated regression line.

By adding the squares of the difference between all yi-ŷi pairs, we have a measure called SSE (*error sum of squares*) which is an application of the r squared score to indicate the extent to which the estimated regression model is different from the actual data. And we attribute that difference to the random error that is unavoidable in the real world. Obviously, we want the SSE value to be as small as possible.

#### In the next cell, compute the predicted *y* based on `X_train` and call it `y_pred`. Then calcualte the r squared score between `y_pred` and `y_train` which indicates how well the estimated regression model fits the training data.

*Hint: r squared score can be calculated using `sklearn.metrics.r2_score` ([documentation](https://scikit-learn.org/stable/modules/generated/sklearn.metrics.r2_score.html)).*

In [54]:
# do the predict on the X_test set
y_predict = auto_model.predict(X_train)

In [55]:
y_predict

array([32.23305487, 25.74347868, 16.46017894, 21.87508655,  8.1958666 ,
       30.75838372, 16.62707641, 31.7173266 , 15.68334605, 21.2145217 ,
       22.38966529, 34.56416661,  9.62807772, 12.39940059, 26.29382164,
       14.37976358, 31.95671632, 25.31799995, 30.8524896 , 13.11420796,
       28.76098015, 25.33925139, 27.01980447, 32.36379637, 30.59753179,
       20.66209391, 30.47602632, 23.98143138, 24.74409648, 17.78666531,
       21.59296094, 29.93834068, 25.8121373 , 20.97619269, 19.50375364,
       16.04995844, 21.70265304, 19.97187008, 25.96418774, 31.15852296,
       27.55162925, 23.81262878, 30.18024681,  9.98525257, 28.71750811,
       23.70770884, 29.05148896, 26.24631918, 15.41500575, 11.19621924,
       21.64883348,  8.14767265, 21.16335113, 27.04941495, 26.38398315,
        7.28778988, 29.1251104 , 19.98251091, 28.07812282, 11.77816365,
       22.63670611, 35.476408  , 23.45707999, 21.89685603, 13.81966172,
       11.54282439, 33.50417109, 15.78992645, 13.00789153, 30.13316638,
       14.59561484, 22.05954416, 27.65981164, 33.5237914 , 10.55736274,
       24.44960297,  4.93565134, 31.46604683,  8.58350304, 10.26218292,
       30.61582283, 24.7274176 , 21.78756173,  6.16054286, 16.39083007,
       16.86257405, 15.04707852, 25.92465176, 18.26540647, 25.54732294,
       29.7355308 , 34.5584913 , 29.59933415, 26.70786402, 29.45407999,
       25.20447134, 21.62728398, 31.22045161, 28.99221577, 13.35945801,
       18.7914786 , 33.57769211, 19.71186685, 15.61064897, 32.60639276,
       22.37213281, 20.25903449, 18.53138431, 25.64890005, 16.54153275,
       32.12753502, 15.02511695, 31.45868558, 20.88367314, 21.58743461,
       23.18472077, 20.34207002, 18.54125078, 26.3813216 ,  9.82186837,
       28.30868492, 17.92454653, 30.01809597, 24.80977552, 25.24758573,
       34.74806137, 32.18142679, 21.59562319, 10.36728036, 27.09922174,
       24.44081545, 30.75872775,  9.59960643, 11.15221312, 19.83610916,
       28.13693217, 31.50367976, 30.13207191, 33.45907712, 33.03537156,
       30.27173949, 31.08088754, 26.59223941, 22.67167041, 23.01663059,
       28.51681449, 21.13524115, 17.19429647, 16.36522433, 26.19687723,
       17.26811921, 25.47791026, 32.83484672, 28.45298426, 25.78976487,
       24.77585956, 11.24106948, 20.77679517, 22.08991292, 34.2231477 ,
       32.28734948, 25.02094097, 29.19215054, 22.62246342, 24.77472151,
       29.90578493, 14.44154252, 26.55780396, 31.47731318, 29.60634658,
       34.90098178, 28.59527195, 21.07234392, 30.92698184, 29.81557397,
       25.95201516, 26.98108252,  9.85354612, 14.30352493, 34.64786036,
       17.50946241, 18.30753771, 34.66105096, 30.71857065, 27.96729787,
       23.39058843, 14.84832414, 22.68959331, 21.93547181, 32.15084138,
       27.75163628, 31.73514866, 11.33105286, 17.34299145, 27.29546172,
       27.45398498, 26.7994329 , 24.37863996, 27.27611418, 29.7314196 ,
       31.16896861, 31.98857196, 15.39585832, 34.00473189, 10.4489503 ,
       16.2472352 , 15.73952251,  8.29700216, 29.96132484, 33.8722753 ,
       32.11597162, 20.61341786, 26.6970793 , 22.44989051, 26.46408504,
       10.10674833, 29.61958033, 32.36122204, 31.15285706, 24.56274362,
       25.73162131, 17.48053217, 20.56072796, 30.41162143, 12.67057361,
       31.13129098, 24.83012014, 25.72009311, 23.60800099, 32.84280456,
       16.50801299, 10.08142605, 19.92789567, 23.56058092, 26.25670786,
       11.74462453, 23.99139745, 24.2395838 , 24.3482225 , 24.81721206,
       33.47627321, 20.72066641, 16.11566264, 19.3829921 , 24.63461858,
       18.95616622, 24.67579349, 20.94686202, 21.98856938, 23.17084596,
       28.37479888, 21.39814463, 26.84280257, 25.89447555, 19.48602379,
       15.76977402, 12.66567857, 25.79076444, 26.24369222, 32.95225081,
       32.32840951, 22.61544022, 30.77195693, 17.80587637, 27.90246936,
       12.50787698, 32.86755642, 28.77589123, 16.15411716, 13.70964668,
       29.12431708, 22.22857786, 28.63354115, 25.82597583, 32.14141827,
       25.53348966, 26.90192807, 15.49197886, 25.98570553, 11.87931974,
       19.69192719, 23.91999692, 19.75276425, 27.36869823, 31.15627198,
       29.38928066, 27.71196747, 28.00936658, 22.90668557, 23.31410692,
       21.97806247, 32.78457251, 28.14426656, 30.6135381 , 23.69012065,
       19.77764602, 32.45486968, 11.59450755, 29.27950374, 21.30767151,
       25.97306505, 28.86831217, 35.38975833, 32.93581429, 26.49987899,
       23.76843891, 31.12640882, 20.79578529, 31.16341272, 12.46497162,
       31.19861842,  7.484112  , 13.9782259 ])

In [56]:
r2_score(y_train, y_predict)

0.8146454628033923

#### Our next step is to evaluate the model using the test data. 

We would like to ensure that our model is not overfitting the data. This means that our model was made to fit too closely to the training data by being overly complex. If a model is overfitted, it is not generalizable to data outside the training data. In that case, we need to reduce the complexity of the model by removing certain features (variables).

In the cell below, use the model to generate the predicted values for the test data and assign them to `y_test_pred`. Compute the r squared score of the predicted `y_test_pred` and the oberserved `y_test` data.

In [57]:
y_test_pred = auto_model.predict(X_test)

In [58]:
r2_score(y_test, y_test_pred)

0.7809677074280204

#### Explaining the results

Please, compare the results for the training and test sets and comment. What can you say?

In [59]:
# The R2 on the test score is lower than the older model, therefore the prediction model 
# is losing accuracy

# Challenge 5 - Improve the Model Fit

While the most common way to improve the fit of a model is by using [regularization](https://datanice.github.io/machine-learning-101-what-is-regularization-interactive.html), there are other simpler ways to improve model fit. The first is to create a simpler model. The second is to increase the train sample size.

Let us start with the easier option and increase our train sample size to 90% of the data. Create a new test train split and name the new predictors and response variables `X_train09`, `X_test09`, `y_train09`, `y_test09`.

In [71]:
X_train09, X_test09, y_train09, y_test09 = train_test_split(auto_train, auto['mpg'], train_size=0.9, test_size=0.1)

Initialize a new linear regression model. Name this model `auto_model09`. Fit the model to the new sample (training) data.

In [72]:
auto_model09 = linear_model.LinearRegression()

Compute the predicted values and r squared score for our new model and new sample data.

In [73]:
auto_model09.fit(X_train09, y_train09)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [74]:
y_pred09 = auto_model09.predict(X_train09)

In [75]:
r2_score(y_train09, y_pred09)

0.803133642891743

In [76]:
y_pred09_test = auto_model09.predict(X_test09)

In [77]:
y_pred09_test

array([17.48587223, 21.76753042, 11.08080299, 29.60220243, 32.27302459,
       25.5496235 , 29.96008517, 17.11928576, 15.22641517, 33.37630088,
       25.98353764, 23.06597806, 34.62561555, 31.31487119, 29.69951626,
       23.49693453, 24.47440972, 25.673291  , 18.24470417, 17.51680326,
       25.73019103, 29.90295765, 32.37488523, 30.75621793, 25.00213311,
       22.1658816 , 35.32642213,  8.22639224, 20.61696452, 14.49138624,
       13.75087609, 28.13615881,  9.43370939, 23.75305322, 27.89577332,
       29.8541482 , 13.99227898, 10.15739062, 12.91280973, 20.05270451])

Compute the r squared score for the smaller test set. Is there an improvement in the test r squared?

In [78]:
r2_score(y_test09, y_pred09_test)

0.852827261258273

# Bonus Challenge 2 - Backward Elimination 

The main way to produce a simpler linear regression model is to reduce the number of variables used in the model. In scikit-learn, we can do this by using recursive feature elimination. You can read more about RFE [here](https://scikit-learn.org/stable/modules/generated/sklearn.feature_selection.RFE.html).

In the next cell, we will import RFE.

In [66]:
# Libraries
from sklearn.feature_selection import RFE

Follow the documentation and initialize an RFE model using the `auto_model` linear regression model. Set `n_features_to_select=3`.

In [67]:
# your code here

Fit the model and print the ranking.

In [68]:
# your code here

Feature importance is ranked from most important (1) to least important (4). Generate a model with the three most important features. The features correspond to variable names. For example, feature 1 is `cylinders` and feature 2 is `displacement`.

Perform a test-train split on this reduced column data and call the split data `X_train_reduced`, `X_test_reduced`, `y_test_reduced`, `y_train_reduced`. Use an 80% split.

In [69]:
# your code here

Generate a new model called `auto_model_reduced` and fit this model. Then proceed to compute the r squared score for the model. Did this cause an improvement in the r squared score?

In [70]:
# your code here

#### Conclusion

You may obtain the impression from this lab that without knowing statistical methods in depth, it is difficult to make major progress in machine learning. That is correct. If you are motivated to become a data scientist, statistics is the subject you must be proficient in and there is no shortcut. 

Completing these labs is not likely to make you a data scientist. But you will have a good sense about what are there in machine learning and what are good for you. In your future career, you can choose one of the three tracks:

* Data scientists who need to be proficient in statistical methods.

* Data engineers who need to be good at programming.

* Data integration specialists who are business or content experts but also understand data and programming. This cross-disciplinary track brings together data, technology, and business and will be in high demands in the next decade.